@model RequestVM

<form asp-controller="Requests" asp-action="NewRequest" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserLastName"></label>
        <input asp-for="UserLastName" class="form-control" />
        <span asp-validation-for="UserLastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Explanation"></label>
        <textarea asp-for="Explanation" class="form-control" rows="6"></textarea>
        <span asp-validation-for="Explanation" class="text-danger"></span>
    </div>

    <h2 class="text-center lead"> Upload The Document</h2>
    <div class="form-group">
        <input type="file" accept="pdf/*" name="file" class="form-control" />
    </div>

    @*<div class="form-group text-right">
        <input type="submit" class="btn btn-success btn-sm w-25" value="Save" />
    </div>*@

    <button class="btn btn-success btn-sm w-25">Send</button>
</form>