<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row justify-content-center">
        <p class="col-md-9">To be approved your request and documents please <a asp-area="Identity" asp-page="/Account/Register">Register</a>,</p>
    </div>

    <div>
        <p>If you alredy have an account <a asp-area="Identity" asp-page="/Account/Login">Login</a>.</p>
    </div>
</div>